/* writing.css */
.article-container {
    background-color: #fff;
    border-radius: 15px;
}

.article-title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #343a40;
}

.article-meta {
    font-size: 0.9rem;
}

.article-content {
    font-size: 1rem;
    color: #495057;
}

.comment-profile, .reply-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.comment, .reply {
    background-color: #ffffff;
    border-radius: 1%;
}

.comment:hover {
    background-color: #e2e6ea !important;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.comment:hover .reply {
    background-color: #e2e6ea !important;
}

.replies {
    padding-left: 20px;
}

.reply-toggle {
    white-space: nowrap;
    font-size: 0.9rem;
}

.reply-input {
    border: 1px solid #ddd;
    transition: all 0.3s ease-in-out;
}

.reply-input textarea {
    resize: none;
    border-radius: 5px;
}

.reply-btn {
    background: none; /* 버튼 배경 없애기 */
    border: none;     /* 버튼 테두리 없애기 */
    color: #007bff;   /* 링크 색상 */
    text-decoration: underline; /* 밑줄 추가 */
    padding: 0;       /* 기본 패딩 제거 */
    font-size: 1rem;  /* 글자 크기 설정 */
    cursor: pointer; /* 클릭 시 손가락 모양 커서 */
}

.reply-btn.text-decoration-underline:hover {
    text-decoration: none; /* hover 시 밑줄 없애기 */
    color: #0056b3;        /* hover 색상 */
}

.delete-btn {
    background: none; /* 버튼 배경 없애기 */
    border: none;     /* 버튼 테두리 없애기 */
    color: hwb(20 50% 49%);   /* 링크 색상 */
    text-decoration: underline; /* 밑줄 추가 */
    padding: 0;       /* 기본 패딩 제거 */
    font-size: 1rem;  /* 글자 크기 설정 */
    cursor: pointer; /* 클릭 시 손가락 모양 커서 */
}

.delete-btn.text-decoration-underline:hover {
    text-decoration: none; /* hover 시 밑줄 없애기 */
    color: #0056b3;        /* hover 색상 */
}