{% extends "base_main.html" %} {% block title %}글쓰기 페이지{% endblock %} {%
block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/writing.css') }}"
/>
{% endblock %} {% block content %}
<div class="right-section" id="writeForm">
  <form method="POST" enctype="multipart/form-data" class="form">
    <div class="form-group">
      <label for="category">카테고리 선택</label>
      <select class="form-control" id="category" name="category">
        <option>개발</option>
        <option>일상</option>
      </select>
    </div>

    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        placeholder="제목을 입력하세요"
      />
    </div>

    <div class="form-group">
      <textarea
        class="form-control"
        id="content"
        name="content"
        rows="6"
        placeholder="내용을 입력하세요"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="image">이미지 첨부 (최대 5개만)</label>

      {% for i in range(5) %}
      <div class="image-upload-field">
        <input
          type="file"
          class="form-control-file"
          id="image{{ i }}"
          name="image{{ i }}"
          accept="image/*"
        />
      </div>
      {% endfor %}
    </div>

    <div class="form-group text-center">
      <button type="submit" class="btn btn-success">제출하기</button>
    </div>
  </form>
</div>
{% endblock %}
