{% extends "base_main.html" %}

{% block title %}홈{% endblock %}


{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/writing.css') }}" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="profile-container">
    <div class="profile">
      <img src="{{ profile_img if profile_img else '../static/default_img.png' }}" alt="프로필 이미지" />
    </div>
    <p class="nickname">{{ nickname }}</p>

    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <button type="button" class="btn btn-primary mb-3">글쓰기</button>
      <button type="button" class="btn btn-primary mb-3">개발</button>
      <button type="button" class="btn btn-primary mb-3">생활</button>
    </div>
  </div>

  <div class="right-section" id="writeForm">
    <form class="form">
      <div class="form-group">
        <label for="category">카테고리 선택</label>
        <select class="form-control" id="category">
          <option>개발</option>
          <option>생활</option>
        </select>
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" />
      </div>

      <div class="form-group">
        <textarea class="form-control" id="content" rows="6" placeholder="내용을 입력하세요"></textarea>
      </div>

      <div class="form-group">
        <label for="image">이미지 첨부</label>
        <input type="file" class="form-control-file" id="image" />
      </div>

      <button type="submit" class="btn btn-success">제출하기</button>
    </form>
  </div>
</div>
{% endblock %}
