{% extends "base_main.html" %}

{% block title %}마이페이지{% endblock %}

{% block extra_css %}
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/mypage.css') }}"
/>
{% endblock %}


{% block script %}
<script>
  function set_nickname(){
    let nickname = $('#nickname_input').val();
    if(!nickname){
      alert('닉네임을 입력해주세요!');
      return;
    }

    $.ajax({
      type: 'POST',
      url: '/auth/check_nickname',
      data: {user_nickname: nickname},
      async: false,
      success: function(response){
        if(response['check'] === 'false'){
          alert('중복닉네임 입니다.');
          return;
        }

        $.ajax({
                url: "/auth/find_user_by_token",
                method: "GET",
                async: false,
                success: function (response) {
                    $.ajax({
                      type: 'POST',
                      url: '/auth/set_nickname',
                      async: false,
                      data: {user_email: response['email'], new_nickname: nickname},
                      success: function(res){
                        alert('닉네임 변경 성공!');
                      }
                    })
                },
                error: function (xhr) {
                    alert("닉네임을 가져오는 데 실패했습니다: " + xhr.responseJSON.error);
                }
            });
      }
    })
  }

  function set_password(){
    let password = $('#password_input').val();
    if(!password){
      alert('비밀번호를 입력해주세요!');
      return;
    }

    
    $.ajax({
            url: "/auth/find_user_by_token",
            method: "GET",
            async: false,
            success: function (response) {
                $.ajax({
                        type: 'POST',
                        url: '/auth/set_password',
                        async: false,
                        data: {user_email: response['email'], new_password: password},
                        success: function(res){
                            alert('비밀번호 변경 성공!');
                        }
                      })
                },
                error: function (xhr) {
                    alert("비밀번호를 가져오는 데 실패했습니다: " + xhr.responseJSON.error);
                }
            });
  }
  
</script>
{% endblock %}

{% block content %}
<div class="wrap">
  <div class="container">
    <div class="right-section" id="writeForm">
      <div class="profile text-center">
        <img
          src="{{ profile_img if profile_img else '../static/default_img.png' }}"
          class="profile-img"
        />
      </div>

      <div class="text-center mt-3">
        <button>사진변경</button>
      </div>

      <form class="mt-4">
        <div class="form-group">
          <label for="nickname_input">닉네임</label>
          <input
            type="text"
            class="form-control"
            id="nickname_input"
            placeholder="닉네임을 입력하세요."
          />
        </div>
        <button type="submit" class="btn btn-success" onclick="set_nickname()">닉네임 변경</button>
      </form>

      <form class="mt-4">
        <div class="form-group">
          <label for="nickname_input">비밀번호</label>
          <input
            type="text"
            class="form-control"
            id="password_input"
            placeholder="비밀번호를 입력하세요."
          />
        </div>
        <button type="submit" class="btn btn-success" onclick="set_password()">비밀번호 변경</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}