<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    <title>QnA</title>
    <script>
        function send_question(){
            let contact = $("#contact_email").val();
            let title = $("#question_title").val();
            let content = $("#question_content").val();
            let tag = "[Village]";

            if(!contact || !title || !content){
                alert('비어있는 제출은 불가능합니다.');
                return;
            }

            $.ajax({
                type: "POST",
                url: "/send_question",
                data: {user_contact: contact, question_title: title, question_content: content,
                    msg_tag: tag
                },
                success: function(response){
                    
                }
            })

        }
    </script>
    <style>
        .main_panel{
            width: 1024px;
            height: 768px;
        }
    </style>
    <link rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
         integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
         crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div class="main_panel">
              <div class="mb-3">
                <div class="input-group">
                  <span class="input-group-text" id="basic-addon3">Contact Email</span>
                  <input type="text" class="form-control" id="contact_email" aria-describedby="basic-addon3 basic-addon4">
                </div>
              </div>
              
              <div class="input-group mb-3">
                <span class="input-group-text">Title</span>
                <input type="text" id="question_title" class="form-control" aria-label="Amount (to the nearest dollar)">
              </div>
              
              
              <div class="input-group">
                <span class="input-group-text">Content</span>
                <textarea class="form-control" id="question_content" aria-label="With textarea"></textarea>
              </div>

              <div class="submit_question">
                <button class="btn btn-link" onclick="send_question()">submit</button>
              </div>

        </div>
    </body>
</html>